# 1. Ignore the Virtual Environment (468 MB)
venv/
env/

# 2. Ignore Git History
.git/
.gitignore

# 3. Ignore Secrets
.env

# 4. Ignore Terraform Junk (780 MB)
terraform/

# 5. Ignore Frontend Node Modules (501 MB)
frontend/

# 6. Ignore Python/Test/Streamlit Cache
__pycache__/
*.pyc
.pytest_cache/
.streamlit/

# 7. Ignore IDE Settings
.vscode/
.idea/